amqp    
asgiref  
billiard  
celery  
click   
click-didyoumean  
click-plugins  
click-repl      
Django           
django-celery     
django-cors-headers 
django-redis       
djangorestframework 
djangorestframework-simplejwt
elastic-transport  
elasticsearch       
elasticsearch-dsl   
kombu            
pip              
prompt_toolkit   
psycopg2-binary  
PyJWT            
python-dateutil  
python-dotenv   
redis           
setuptools    
six           
sqlparse      
typing_extensions  
tzdata  
urllib3 
vine  
wcwidth 